<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="plato_saga.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>    
    <userSettings>
        <plato_saga.Properties.Settings>
            <setting name="app_lang" serializeAs="String">
                <value>es</value>
            </setting>
            <setting name="obs_path" serializeAs="String">
                <value />
            </setting>
            <setting name="auto_updates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_timer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_keep_file" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="close_obs_auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="silence_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="validate_scene" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_panel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pr_font" serializeAs="String">
                <value>Microsoft Sans Serif, 20.25pt, style=Bold</value>
            </setting>
            <setting name="pr_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="to_prompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prompt_sp" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="prompt_txt" serializeAs="String">
                <value />
            </setting>
            <setting name="pr_back_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="pr_delay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pr_delay_val" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="pr_location" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pr_transp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rtx_height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rem_lines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="max_obs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remove_timer" serializeAs="String">
                <value>5000</value>
            </setting>
        </plato_saga.Properties.Settings>
    </userSettings>
</configuration>
